DATABASE_URL=postgresql://postgres.xdxjfxewjtknuhxruxyp:111222333qqqwwweeeASD@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.xdxjfxewjtknuhxruxyp:111222333qqqwwweeeASD@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_PORT=5432
DB_USER=postgres.xdxjfxewjtknuhxruxyp
DB_PASSWORD=111222333qqqwwweeeASD
DB_NAME=postgres